---
import BaseLayout from "@/layouts/BaseLayout.astro";

// import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="test">
  <!-- <Welcome /> -->
  <div class="bg-blue-300">v2</div>
</BaseLayout>
